:root {
    --primary-color: #1095c1;
    --bg-light: #ffffff;
    --bg-dark: #15191e;
    --text-light: #24292e;
    --text-dark: #d1d5da;
    --border-color: #cbd5e0;
    --contrast: #1095c1;
    --contrast-inverse: #ffffff;
}

a {
    color: var(--primary-color);
}

th {
    font-weight: bold;
}

table.stripped tbody tr:nth-of-type(odd) {
    background-color: #eee !important;
    color: var(--muted-text) !important;
}

[data-theme="dark"] table.stripped tbody tr:nth-of-type(odd) {
    background-color: #24292e !important;
    color: var(--contrast);
}

[data-theme="dark"] table.stripped tbody tr:nth-of-type(even) {
    background-color: transparent;
    color: var(--contrast);
}

table a {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-top: 2px solid var(--primary-color);
    background-color: var(--card-background-color);
}

.footer {
    padding-top: 2rem;
    border-top: 2px solid var(--muted-border-color);
    width: 100%;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    padding: 1rem;
}

footer h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

footer ul {
    list-style-type: none !important;
    padding: 0.5rem 0;
}

ul.footer-nav {
    list-style-type: none !important;
}

footer ul li {
    margin-bottom: 0.5rem;
}

.footer-bottom {
    display: block;
    text-align: center !important;
    padding: 1rem 0;
    border-top: 1px solid var(--muted-border-color);
    width: 98vw;
    margin: 0 auto;
}

.theme-toggle {
    cursor: pointer;
    background: var(--contrast);
    color: var(--contrast-inverse);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}